<launch>

  <arg name="world_name" default="agri3"/>
  <arg name="spawn_cars" default="false"/>
  <arg name="car_count" default="6"/>
  <arg name="vehicle_type" default="car"/>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/$(arg world_name).world" />
    <!-- <arg name="debug" value="true"/> -->
    <arg name="paused" value="true"/>
    <!-- <arg name="gui" value="false"/> -->
    <!-- <arg name="verbose" value="true"/> -->
  </include>


  <!-- Drone 1 -->
  <include file="$(find rotors_gazebo)/launch/mav_single.launch">
    <arg name="mav_id" value="drone1"/>
    <arg name="mav_name" value="hummingbird"/>
    <arg name="init_x" value="20.0"/>
    <arg name="init_y" value="-3.0"/>
    <arg name="init_z" value="28.0"/>
  </include>

  <include file="$(find rotors_gazebo)/launch/mav_single.launch">
    <arg name="mav_id" value="drone2"/>
    <arg name="mav_name" value="hummingbird"/>
    <arg name="init_x" value="0.0"/>
    <arg name="init_y" value="-3.0"/>
    <arg name="init_z" value="16.0"/>
  </include>

  <include file="$(find rotors_gazebo)/launch/mav_single.launch">
    <arg name="mav_id" value="drone3"/>
    <arg name="mav_name" value="hummingbird"/>
    <arg name="init_x" value="15.0"/>
    <arg name="init_y" value="-3.0"/>
    <arg name="init_z" value="15.5"/>
  </include>

  <include file="$(find rotors_gazebo)/launch/mav_single.launch">
    <arg name="mav_id" value="drone4"/>
    <arg name="mav_name" value="hummingbird"/>
    <arg name="init_x" value="30.0"/>
    <arg name="init_y" value="-3.0"/>
    <arg name="init_z" value="15.0"/>
  </include>

  <include if="$(arg spawn_cars)" file="$(find rotors_gazebo)/launch/spawn_cars.launch">
    <arg name="car_count" value="$(arg car_count)"/>
    <arg name="vehicle_type" value="$(arg vehicle_type)"/>
  </include>

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find rotors_gazebo)/launch/simulator_2.rviz"/>

  <!-- Throttle odom to 30 Hz -->
  <node pkg="rotors_gazebo" type="odometry_republisher.py" name="drone1_repub" output="screen">
    <param name="car_name" value="drone1/ground_truth"/>
    <param name="rate_hz" value="30.0"/>
  </node>

  <node pkg="rotors_gazebo" type="odometry_republisher.py" name="drone2_repub" output="screen">
    <param name="car_name" value="drone2/ground_truth"/>
    <param name="rate_hz" value="30.0"/>
  </node>

  <node pkg="rotors_gazebo" type="odometry_republisher.py" name="drone3_repub" output="screen">
    <param name="car_name" value="drone3/ground_truth"/>
    <param name="rate_hz" value="30.0"/>
  </node>

  <node pkg="rotors_gazebo" type="odometry_republisher.py" name="drone4_repub" output="screen">
    <param name="car_name" value="drone4/ground_truth"/>
    <param name="rate_hz" value="30.0"/>
  </node>


  <!-- Throttle target to 30 Hz -->
  <node pkg="rotors_gazebo" type="odometry_republisher.py" name="car1_repub" output="screen">
    <param name="car_name" value="car_1"/>
    <param name="rate_hz" value="30.0"/>
  </node>

  <node pkg="rotors_gazebo" type="odometry_republisher.py" name="car2_repub" output="screen">
    <param name="car_name" value="car_2"/>
    <param name="rate_hz" value="30.0"/>
  </node>

  <node pkg="rotors_gazebo" type="odometry_republisher.py" name="car3_repub" output="screen">
    <param name="car_name" value="car_3"/>
    <param name="rate_hz" value="30.0"/>
  </node>

  <node pkg="rotors_gazebo" type="odometry_republisher.py" name="car4_repub" output="screen">
    <param name="car_name" value="car_4"/>
    <param name="rate_hz" value="30.0"/>
  </node>

  <node pkg="rotors_gazebo" type="odometry_republisher.py" name="car5_repub" output="screen">
    <param name="car_name" value="car_5"/>
    <param name="rate_hz" value="30.0"/>
  </node>

  <node pkg="rotors_gazebo" type="odometry_republisher.py" name="car6_repub" output="screen">
    <param name="car_name" value="car_6"/>
    <param name="rate_hz" value="30.0"/>
  </node>


</launch>
