<launch>

  <arg name="world_name" default="agri1"/>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/$(arg world_name).world" />
    <!-- <arg name="debug" value="true"/> -->
    <arg name="paused" value="true"/>
    <!-- <arg name="gui" value="false"/> -->
    <!-- <arg name="verbose" value="true"/> -->
  </include>


  <!-- Drone 1 -->
  <include file="$(find rotors_gazebo)/launch/mav_single.launch">
    <arg name="mav_id" value="drone1"/>
    <arg name="mav_name" value="hummingbird"/>
    <arg name="init_x" value="20.0"/>
    <arg name="init_y" value="-3.0"/>
    <arg name="init_z" value="28.0"/>
  </include>

  <include file="$(find rotors_gazebo)/launch/mav_single.launch">
    <arg name="mav_id" value="drone2"/>
    <arg name="mav_name" value="hummingbird"/>
    <arg name="init_x" value="0.0"/>
    <arg name="init_y" value="-3.0"/>
    <arg name="init_z" value="16.0"/>
  </include>

  <include file="$(find rotors_gazebo)/launch/mav_single.launch">
    <arg name="mav_id" value="drone3"/>
    <arg name="mav_name" value="hummingbird"/>
    <arg name="init_x" value="15.0"/>
    <arg name="init_y" value="-3.0"/>
    <arg name="init_z" value="15.5"/>
  </include>

  <include file="$(find rotors_gazebo)/launch/mav_single.launch">
    <arg name="mav_id" value="drone4"/>
    <arg name="mav_name" value="hummingbird"/>
    <arg name="init_x" value="30.0"/>
    <arg name="init_y" value="-3.0"/>
    <arg name="init_z" value="15.0"/>
  </include>

  <!-- Each node calls gazebo_ros/spawn_model once -->
  <!-- <node name="spawn_car_1" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-sdf -model car_1 -database car_1 -x -5  -y -5  -z 0.5"/>
  <node name="spawn_car_2" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-sdf -model car_2 -database car_2 -x  5  -y -5  -z 0.5"/>
  <node name="spawn_car_3" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-sdf -model car_3 -database car_3 -x 15  -y -5  -z 0.5"/>
  <node name="spawn_car_4" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-sdf -model car_4 -database car_4 -x 25  -y -5  -z 0.5"/>
  <node name="spawn_car_5" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-sdf -model car_5 -database car_5 -x 35  -y -5  -z 0.5"/>
  <node name="spawn_car_6" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-sdf -model car_6 -database car_6 -x 45  -y -5  -z 0.5"/> -->

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find rotors_gazebo)/launch/simulator_2.rviz"/>

  <!-- Throttle odom to 30 Hz -->
  <node pkg="topic_tools" type="throttle" name="odom_throttle1"
        args="messages /drone1/ground_truth/odometry 30.0 /drone1/ground_truth/odometry_throttled" output="screen" />

  <node pkg="topic_tools" type="throttle" name="odom_throttle2"
        args="messages /drone2/ground_truth/odometry 30.0 /drone2/ground_truth/odometry_throttled" output="screen" />

  <node pkg="topic_tools" type="throttle" name="odom_throttle3"
        args="messages /drone3/ground_truth/odometry 30.0 /drone3/ground_truth/odometry_throttled" output="screen" />

  <node pkg="topic_tools" type="throttle" name="odom_throttle4"
        args="messages /drone4/ground_truth/odometry 30.0 /drone4/ground_truth/odometry_throttled" output="screen" />

  <node pkg="topic_tools" type="throttle" name="odom_throttle5"
        args="messages /drone5/ground_truth/odometry 30.0 /drone5/ground_truth/odometry_throttled" output="screen" />

  <node pkg="topic_tools" type="throttle" name="odom_throttle6"
        args="messages /drone6/ground_truth/odometry 30.0 /drone6/ground_truth/odometry_throttled" output="screen" />

  <!-- Throttle target to 30 Hz -->
  <node pkg="topic_tools" type="throttle" name="target1_throttle"
        args="messages /car_1/odometry 30.0 /car_1/odometry_throttled" output="screen" />

  <node pkg="topic_tools" type="throttle" name="target2_throttle"
        args="messages /car_2/odometry 30.0 /car_2/odometry_throttled" output="screen" />

  <node pkg="topic_tools" type="throttle" name="target3_throttle"
        args="messages /car_3/odometry 30.0 /car_3/odometry_throttled" output="screen" />

  <node pkg="topic_tools" type="throttle" name="target4_throttle"
        args="messages /car_4/odometry 30.0 /car_4/odometry_throttled" output="screen" />

  <node pkg="topic_tools" type="throttle" name="target5_throttle"
        args="messages /car_5/odometry 30.0 /car_5/odometry_throttled" output="screen" />

  <node pkg="topic_tools" type="throttle" name="target6_throttle"
        args="messages /car_6/odometry 30.0 /car_6/odometry_throttled" output="screen" />


</launch>
