<launch>

  <arg name="world_name" default="empty"/>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/$(arg world_name).world" />
    <!-- <arg name="debug" value="true"/> -->
    <arg name="paused" value="true"/>
    <!-- <arg name="gui" value="false"/> -->
    <!-- <arg name="verbose" value="true"/> -->
  </include>


  <!-- Drone 1 -->
  <include file="$(find rotors_gazebo)/launch/mav_single.launch">
    <arg name="mav_id" value="drone1"/>
    <arg name="mav_name" value="hummingbird"/>
    <arg name="init_x" value="0.0"/>
    <arg name="init_y" value="0.0"/>
    <arg name="init_z" value="1.0"/>
  </include>

  <include file="$(find rotors_gazebo)/launch/mav_single.launch">
    <arg name="mav_id" value="drone2"/>
    <arg name="mav_name" value="hummingbird"/>
    <arg name="init_x" value="2.0"/>
    <arg name="init_y" value="4.0"/>
    <arg name="init_z" value="1.0"/>
  </include>

  <include file="$(find rotors_gazebo)/launch/mav_single.launch">
    <arg name="mav_id" value="drone3"/>
    <arg name="mav_name" value="hummingbird"/>
    <arg name="init_x" value="-2.0"/>
    <arg name="init_y" value="4.0"/>
    <arg name="init_z" value="1.0"/>
  </include>

  

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find rotors_gazebo)/launch/simulator.rviz"/>


</launch>
