<?xml version="1.0"?>
<model>
  <name>flower_v3</name>
  <version>3.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>ChatGPT</name>
    <email>n/a</email>
  </author>
  <description>Flower with extra-large petals, double rings, large leaves, thick stem, sepals.</description>
</model>
